In [11]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/book-recommendation-dataset/Ratings.csv
/kaggle/input/book-recommendation-dataset/Users.csv
/kaggle/input/book-recommendation-dataset/Books.csv

# **Uploading Data**

In [12]:
ratings = pd.read_csv("/kaggle/input/book-recommendation-dataset/Ratings.csv")
users = pd.read_csv("/kaggle/input/book-recommendation-dataset/Users.csv")
books = pd.read_csv("/kaggle/input/book-recommendation-dataset/Books.csv")

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:

books.head()
# users.head()
len(ratings)
len(books)
books.head()
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

# Processing Data

In [14]:
books = books[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']]
books.rename(columns = {'Book-Title': 'title','Book-Author': 'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace=True)
ratings.rename(columns = {'User-ID':'userid','Book-Rating':'bookrating'},inplace=True)
users.rename(columns = {'User-ID':'userid','Location':'location','Age':'age'},inplace=True)

In [15]:
users.head()
books.head()
ratings.head()

   userid        ISBN  bookrating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

# Checking for missing values

In [16]:
users.isna().sum()
users.drop("age",axis=1)

        userid                            location
0            1                  nyc, new york, usa
1            2           stockton, california, usa
2            3     moscow, yukon territory, russia
3            4           porto, v.n.gaia, portugal
4            5  farnborough, hants, united kingdom
...        ...                                 ...
278853  278854               portland, oregon, usa
278854  278855  tacoma, washington, united kingdom
278855  278856           brampton, ontario, canada
278856  278857           knoxville, tennessee, usa
278857  278858                dublin, n/a, ireland

[278858 rows x 2 columns]

Setting a limit for number of books read by user and a book based on m=number of ratings it got
This ensures a more reliable reccomendation
What good can a person recommend if read only 2 books?
11 lakh people have rated various books, and their are 2 lakhs number of books.

In [17]:
ratings.value_counts("userid")
# ratings.value_counts("ISBN")

userid
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
118579        1
118576        1
118574        1
118563        1
139146        1
Length: 105283, dtype: int64

**Filtering on basis of users**

In [18]:
x = ratings["userid"].value_counts() > 200
# using boolean indexing to filter true values.
y = x[x].index
ratings = ratings[ratings["userid"].isin(y)]
ratings.shape

(526356, 3)

In [19]:
x
y
ratings

         userid        ISBN  bookrating
1456     277427  002542730X          10
1457     277427  0026217457           0
1458     277427  003008685X           8
1459     277427  0030615321           0
1460     277427  0060002050           0
...         ...         ...         ...
1147612  275970  3829021860           0
1147613  275970  4770019572           0
1147614  275970   896086097           0
1147615  275970  9626340762           8
1147616  275970  9626344990           0

[526356 rows x 3 columns]

In [20]:
ratings.head()

      userid        ISBN  bookrating
1456  277427  002542730X          10
1457  277427  0026217457           0
1458  277427  003008685X           8
1459  277427  0030615321           0
1460  277427  0060002050           0

In [21]:
books.head()

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

# Merging books and ratings on isbn

In [22]:
ratings_with_books = ratings.merge(books,on = "ISBN")
ratings_with_books.head()

,userid,ISBN,bookrating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

grouping by titles and counting number of ratings

In [23]:
number_rating = ratings_with_books.groupby('title')['bookrating'].count().reset_index()
# number_rating
number_rating.rename(columns = {'bookrating': 'number_of_ratings'},inplace=True)
# Merging with rating_with books
final = ratings_with_books.merge(number_rating,on = 'title')
final = final[final['number_of_ratings'] >= 50]
# Dropping duplicates
final.drop_duplicates(['userid','title'],inplace=True)

In [24]:
number_rating
final

,userid,ISBN,bookrating,title,author,year,publisher,number_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
...,...,...,...,...,...,...,...,...
236701,255489,0553579983,7,And Then You Die,Iris Johansen,1998,Bantam,50
236702,256407,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
236703,257204,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
236704,261829,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
236705,273979,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50

# Building a matrix #

In [25]:
# Creating a pivot table with movies as rows and users as columns and ratings as values.
book_pivot = final.pivot_table(columns = 'userid',index='title',values = 'bookrating')
book_pivot.fillna(0,inplace=True)
book_pivot

userid,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Converting to Sparse matrix
We already have many zero values on book_pivot matrix, then why create a separate sparse matrix? Because it saves space and time complexity.
Refer gfg for revision.

In [28]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)

**Using KNN**
finding distance of every point from another

In [30]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm="brute")
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [36]:
distances,suggestions = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1))

In [38]:
suggestions

array([[237, 240, 238, 241, 184]])

In [37]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive'],
      dtype='object', name='title')